<!DOCTYPE html>
<html>
  <head>
    
    <title>Battleships</title>

  </head>
    <body>
      <!-- <a href="new_game">New Game</a> -->
      <h1>Welcome to Battleships!</h1>  

      <% if @name %>
        <h3>Hello<%= @name %></h3>
      <% end %>
    
      <form action="/register" method="post">
        Name: <input type ="text" name="player_name">
              <input type ="submit" value="Register">
            </form>
    </body>
</html>