<!DOCTYPE html>
<html>
  
  <head>
    <title>Ready to start a New Game?</title>
  </head>
  
  <body>
    <p>What's your name?</p>

    <form action="/register" method="post">
      Name: <input type="text" name="name" >
      <input type="submit" value=PLAY!>
      
    </form>

  </body>

</html>