<!DOCTYPE html>
<html>
  
  <head>
    <title>Ready to start a New Game?</title>
  </head>
  
  <body>
    <p>What's your name?</p>

    <form action="/register" method="post">
      <input type="text" name="name" placeholder='Type name here!'> 
      <!-- <input type="Submit"> -->
      <button>Play!</button>
    </form>

  </body>

</html>