<!DOCTYPE html>
<html>
  
  <head>
    <title>Ready to start a New Game?</title>
  </head>
  
  <body>
    <p>What's your name?</p>

    <form action="/new_game">
      <input type="text" name="name">
      <input type="Submit">
    </form>

  </body>

</html>